$primary-color-blue: #194895;
$secondary-background-color: #034db0;
$secondary-text-color: #142b59;
$primary-background-color: #ffffff;
$border-color: #d2d2d2;
$grey-bg-color: #e3e3e3;
$text-color: #252525;
$text-color-white: #ffffff;
$red-color: #da0000;
$green-color: #2fb400;
$yellow-color: #ffa800;
