@import "./colors.scss";

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.177);
  z-index: 999;
}
.ant-spin-dot-item {
  background-color: $primary-color-blue !important;
}

.main_layout_container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.right_outlets {
  padding: 20px 20px 0 20px;
  height: 100vh;

  flex-grow: 1;
  overflow-y: scroll;
  transition: filter 0.3s ease;
  background-color: $text-color-white;
}

.right_outlets.blurred {
  filter: blur(8px);
  pointer-events: none !important;
}

@media (min-width: 1024px) {
  .main_layout_container {
    display: flex;
    justify-content: space-between;
  }
  .left_nav {
    width: fit-content;
  
  }
  .right_outlets {
    width: fit-content;

    margin-left: 10px;
    &.blurred {
      filter: blur(0);
      pointer-events: all !important;
    }
  }
}

